@model MyClass.Models.User

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper my-2">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">Chi tiết người dùng</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Edit","User" ,new { id = Model.ID })" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>Cập nhật</a>
                        <a class="btn btn-sm btn-info" href="@Url.Action("Index","User")"><i class="fas fa-backward"></i>  Quay về danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>Tài khoản</td>
                        <td> @Html.DisplayFor(model => model.UserName)</td>
                    </tr>
                    <tr>
                        <td>Mật khẩu</td>
                        <td>@Html.DisplayFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td>Tên người dùng</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ</td>
                        <td> @Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại</td>
                        <td>@Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <td>Hình ảnh</td>
                        <td>@Html.DisplayFor(model => model.Img)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CountError)</td>
                        <td>@Html.DisplayFor(model => model.CountError)</td>
                    </tr>
                    <tr>
                        <td>Quyền</td>
                        <td>@Html.DisplayFor(model => model.Roles)</td>
                    </tr>
                    <tr>
                        <td>Giới tính</td>
                        <td>@Html.DisplayFor(model => model.Gender)</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo</td>
                        <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                    </tr>
                    <tr>
                        <td>Người tạo</td>
                        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <td> Ngày cập nhập</td>
                        <td>@Html.DisplayFor(model => model.ModifieDate)</td>
                    </tr>
                    <tr>
                        <td>Người nhập</td>
                        <td>@Html.DisplayFor(model => model.ModifieBy)</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
